.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 56.25vw;
  overflow: hidden;
}

.box_1 {
  width: 100vw;
  height: 56.25vw;
  background: url(./img/cbe1c7f9d044e29bc32695ef9a5c2c1e.png) -224.28vw
    0vw no-repeat;
  background-size: 324.27vw 56.25vw;
}

.box_2 {
  background-color: rgba(0, 33, 48, 1);
  height: 3.34vw;
  width: 100vw;
}

.group_1 {
  width: 73.03vw;
  height: 2.09vw;
  margin: 0.57vw 0 0 13.48vw;
}

.image_1 {
  width: 3.03vw;
  height: 2.04vw;
}

.text_1 {
  width: 3.96vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(0, 255, 240, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.78vw 0 0 4.89vw;
}

.text_2 {
  width: 2.4vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.78vw 0 0 4.11vw;
}

.text_3 {
  width: 4.33vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.78vw 0 0 4.16vw;
}

.box_3 {
  border-radius: 4px;
  width: 8.18vw;
  height: 1.93vw;
  border: 1px solid rgba(255, 255, 255, 1);
  margin: 0.15vw 0 0 37.96vw;
}

.thumbnail_1 {
  width: 1.05vw;
  height: 1.05vw;
  margin: 0.41vw 0 0 0.78vw;
}

.text_4 {
  width: 3.44vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.62vw 0 0 0.83vw;
}

.thumbnail_2 {
  width: 0.63vw;
  height: 0.42vw;
  margin: 0.83vw 0.72vw 0 0.72vw;
}

.group_2 {
  width: 2.09vw;
  height: 0.11vw;
  margin: 0.57vw 0 0 22.34vw;
}

.group_3 {
  background-color: rgba(0, 255, 240, 1);
  width: 2.09vw;
  height: 0.11vw;
}

.box_4 {
  width: 100vw;
  height: 44.64vw;
}

.box_5 {
  width: 27.09vw;
  height: 10.16vw;
  margin: 3.33vw 0 0 18.75vw;
}

.block_1 {
  width: 9.38vw;
  height: 10.16vw;
}

.box_6 {
  background-color: rgba(0, 74, 108, 1);
  width: 9.38vw;
  height: 5.16vw;
}

.paragraph_1 {
  width: 5.79vw;
  height: 2.77vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.25vw;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  line-height: 1.25vw;
  margin: 1.25vw 0 0 0.93vw;
}

.box_7 {
  background-color: rgba(3, 94, 116, 1);
  width: 9.38vw;
  height: 0.06vw;
  margin-top: 1.1vw;
}

.text-wrapper_1 {
  background-color: rgba(0, 74, 108, 1);
  height: 2.5vw;
  width: 9.38vw;
}

.text_5 {
  width: 2.61vw;
  height: 0.63vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.72vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  
  margin: 0.93vw 0 0 0.98vw;
}

.box_8 {
  background-color: rgba(0, 74, 108, 1);
  width: 9.38vw;
  height: 2.5vw;
}

.block_2 {
  background-color: rgba(3, 94, 116, 1);
  width: 9.38vw;
  height: 0.06vw;
}

.text_6 {
  width: 3.18vw;
  height: 0.58vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.72vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  
  margin: 0.93vw 0 0 1.04vw;
}

.block_3 {
  background-color: rgba(3, 94, 116, 1);
  width: 9.38vw;
  height: 0.06vw;
  margin-top: 0.89vw;
}

.image_2 {
  width: 15.63vw;
  height: 10vw;
}

.box_9 {
  width: 23.7vw;
  height: 2.5vw;
  margin: 0 0 28.64vw 18.75vw;
}

.text-wrapper_2 {
  background-color: rgba(0, 33, 48, 1);
  height: 2.5vw;
  width: 9.38vw;
}

.text_7 {
  width: 4.28vw;
  height: 0.58vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.72vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  
  margin: 0.98vw 0 0 1.04vw;
}

.text_8 {
  width: 8.91vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(8, 58, 73, 1);
  font-size: 1.04vw;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  line-height: 1.88vw;
  margin-top: 1.05vw;
}

.box_10 {
  background-color: rgba(0, 33, 48, 1);
  width: 100vw;
  height: 8.34vw;
  margin-top: -0.05vw;
}

.image_3 {
  width: 4.12vw;
  height: 2.77vw;
  margin: 2.6vw 0 0 13.69vw;
}

.label_1 {
  width: 1.88vw;
  height: 1.88vw;
  margin: 3.22vw 0 0 14.21vw;
}

.text-group_1 {
  width: 7.45vw;
  height: 1.93vw;
  margin: 3.17vw 0 0 1.19vw;
}

.text_9 {
  width: 3.55vw;
  height: 0.73vw;
  overflow-wrap: break-word;
  color: rgba(141, 183, 202, 1);
  font-size: 0.72vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
}

.text_10 {
  width: 7.45vw;
  height: 0.73vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.93vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.47vw;
}

.section_1 {
  background-color: rgba(8, 71, 94, 1);
  width: 0.11vw;
  height: 1.57vw;
  margin: 3.54vw 0 0 3.48vw;
}

.label_2 {
  width: 2.04vw;
  height: 1.52vw;
  margin: 3.43vw 0 0 3.48vw;
}

.text-wrapper_3 {
  width: 9.59vw;
  height: 2.19vw;
  margin: 3.17vw 0 0 1.14vw;
}

.text_11 {
  width: 2.14vw;
  height: 0.58vw;
  overflow-wrap: break-word;
  color: rgba(141, 183, 202, 1);
  font-size: 0.72vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin-left: 0.06vw;
}

.text_12 {
  width: 9.59vw;
  height: 0.99vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.93vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.63vw;
}

.section_2 {
  background-color: rgba(8, 71, 94, 1);
  width: 0.11vw;
  height: 1.57vw;
  margin: 3.54vw 0 0 2.55vw;
}

.label_3 {
  width: 1.52vw;
  height: 2.24vw;
  margin: 3.07vw 0 0 2.29vw;
}

.text-group_2 {
  width: 7.45vw;
  height: 1.93vw;
  margin: 3.17vw 22.39vw 0 1.3vw;
}

.text_13 {
  width: 3.7vw;
  height: 0.73vw;
  overflow-wrap: break-word;
  color: rgba(141, 183, 202, 1);
  font-size: 0.72vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
}

.text_14 {
  width: 7.45vw;
  height: 0.73vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.93vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.94vw;
  margin-top: 0.47vw;
}
